path: {{ web_root }}/{{ wordpress_dir_name }}
url: https://{{ inventory_hostname }}/{{ wordpress_dir_name }}

config create:
    dbname: {{ wordpress_database }}
    dbuser: {{ wordpress_username }}
    dbpass: {{ wordpress_password }}

core install:
    title: {{ wordpress_site_title }}
    admin_user: arran
    admin_password: arran   
    admin_email: arran@example.org